<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Flask</title>
</head>
<body>

<textarea id="input"></textarea>

<textarea id="output"></textarea>
</form>
     <button type='button' id ='retrieve'>Solve</button>
</body>
  <script>
    $(document).ready(function() {
       $('#retrieve').click(function(){
           $.ajax({
           url: "/solve",
           data: {val:$('#input').val()},
           type: "GET",
           success: function(response) {
               $("#output").val(response);
          },
          error: function(xhr) {
            //Do Something to handle error
         }
         });
       });
    });
  </script>
</html>