<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Flask</title>
</head>
<body>
<textarea id="input"></textarea>
<button type='button' id='retrieve'>Перевести</button>
<textarea id="output"></textarea>
<select id="currency">
    <option>Евро</option>
    <option>Доллары</option>
</select>
</body>
<script>
    $(document).ready(function () {
        let send = $('#currency').serialize(); //+ $('#submit').serialize;
        $('#retrieve').click(function () {
            $.ajax({
                url: "/converter",
                data: {curr:$('#currency').children("option:selected").val(),val:$('#input').val()},//.serialize(),
                type: "GET",
                success: function (response) {
                    $("#output").val(response);
                },
                error: function (xhr) {
                    //Do Something to handle error
                }
            });
        });
    });
</script>
</html>