<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Flask</title>
</head>
<body>
<form action="/" id="submit">
    <input name="data">
</form>
<button type='button' id='retrieve'>Перевести</button>
<textarea id="output"></textarea>
<select id="currency">
    <option>Евро</option>
    <option>Доллары</option>
</select>
</body>
<script>
    $(document).ready(function () {
        info = [];
        info[0] = $('#currency');
        info[1] = $('#submit');
        $('#retrieve').click(function () {
            $.ajax({
                url: "/converter",
                data: {info:info},//.serialize(),
                type: "GET",
                success: function (response) {
                    $("#output").attr('text', response);
                },
                error: function (xhr) {
                    //Do Something to handle error
                }
            });
        });
    });
</script>
</html>